body {
	background-color: silver;
	color: white;
	padding: 20px;
	font-family: 'helvetica';
}
h1 {
	color: red;
	font-weight: 200;
	text-align: center;
}
p {
	position: absolute;
	text-align: center;
	line-height: 1.5em;
}
ul {
	display: inline-block;
	text-align: center;
	list-style: none;
}
.works {
	
}